@charset "UTF-8";
/* stylesheet.css */
@import url("swiper.min.css");
@import url("_fonts.css");
/* --- VARIABLES --- */
/* --- // Paths --- */
/* --- // Colors --- */
/* --- // Mixins --- */
.vert-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* --- FONTS --- */
h1 {
  font-family: ralewaybold;
  font-size: 56px;
  line-height: 48px;
  font-weight: 100;
}
h2 {
  font-family: open_sansregular;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
h3 {
  font-family: ralewaythin;
  font-size: 28px;
  line-height: 28px;
  font-weight: 400;
}
h4 {
  font-family: open_sanslight;
  font-size: 28px;
  line-height: 28px;
  font-weight: 100;
}
h5 {
  font-family: open_sansbold;
  font-size: 24px;
  line-height: 24px;
  font-weight: 100;
}
p {
  font-family: open_sanslight;
  font-size: 18px;
  line-height: 22px;
  font-weight: 100;
}
a {
  font-family: ralewaythin;
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: none;
  color: #b3b3b3;
}
.main-header {
  font-size: 114px;
  line-height: 114px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.sub-header {
  margin-top: 5px;
}
.super-header {
  margin-top: 0px;
  margin-bottom: 5px;
}
.section-header {
  margin-top: 0px;
}
/* --- Containers --- */
* {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
}
.landing {
  width: 100%;
  height: 100%;
  background: url('../img/SPF_Kitchen_S_Shot01_POV_v001.0030.png') no-repeat center center;
  background-size: cover;
}
.landing .landing-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  color: #fcfff5;
}
.landing h1,
.landing h2,
.landing h3,
.landing h4,
.landing h5,
.landing h6 {
  text-align: center;
  white-space: nowrap;
}
.section {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 4rem;
  color: #444444;
  font-weight: 400;
}
.section .section-content {
  width: 100%;
  box-sizing: border-box;
  max-width: 1000px;
  margin: auto;
}
.section h1,
.section h2,
.section h3,
.section h4,
.section h5,
.section h6 {
  text-align: center;
}
.nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background: red;
  z-index: 2;
}
.nav-left {
  display: inline-block;
  text-align: left;
}
.nav-right {
  display: inline-block;
  text-align: right;
  float: right;
}
.nav-center {
  text-align: center;
}
.nav-item,
.nav-menu {
  display: inline-block;
  font-family: Open Sans;
  color: #FFFFFF;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 0.9rem;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
}
.nav-item.selected,
.nav-menu.selected,
.nav-item:hover,
.nav-menu:hover {
  background: rgba(0, 0, 0, 0.1);
}
.nav-mobile {
  display: none;
}
.nav-mobile .nav-item,
.nav-mobile .nav-menu {
  width: 100%;
  box-sizing: border-box;
}
/* --- Navbar --- */
.nav-bar {
  height: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
  text-align: center;
}
.nav-bar nav {
  padding: 0px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.25);
}
.nav-bar nav a {
  padding: 14px 20px;
  display: inline-block;
}
.nav-bar nav a:hover {
  background: rgba(0, 0, 0, 0.15);
}
.nav-bar nav a:visited {
  text-decoration: none;
  color: #b3b3b3;
}
.nav-bar nav a.active {
  background: rgba(0, 0, 0, 0.15);
  color: #fcfff5;
  font-weight: 600;
}
.nav-bar nav a.external {
  color: #fcfff5;
}
.nav-arrows {
  height: 50px;
  line-height: 50px;
  color: blue;
  padding: 15px;
  z-index: 10;
}
.nav-arrows.left {
  left: 0;
}
.nav-arrows.right {
  right: 0;
}
/* --- Jumbotron --- */
.jumbotron {
  width: 100%;
  text-align: center;
  display: inline-block;
  color: #fcfff5;
  background: rgba(0, 0, 0, 0.5);
}
#landing-section .jumbotron {
  position: absolute;
}
/* --- SWIPER CONTENT --- */
.content-wrapper {
  max-width: 960px;
  padding: 15px 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
  z-index: 11;
}
.content-wrapper p {
  text-align: left;
}
/* --- SWIPER SETTINGS --- */
.swiper-pagination {
  position: static;
  text-align: left;
  margin: 10px 0px;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin: 0px 2px;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .vert-center {
    position: relative;
    top: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .main-header {
    font-size: 76px;
    line-height: 76px;
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .sub-header,
  .super-header {
    font-size: 18px;
    line-height: 18px;
  }
  .nav-mobile {
    display: block;
  }
  .nav-item {
    display: none;
  }
  .nav-desktop {
    display: none;
  }
  .landing-box {
    text-align: center;
  }
  .landing h1 {
    font-size: 2rem;
  }
}
