@charset "UTF-8";
/* stylesheet.css */
@import url("_fonts.css");
/* UPDATED OCTOBER 26, 2015 */
/* --- VARIABLES --- */
/* --- // Paths --- */
/* --- // Colors --- */
/* --- FONTS --- */
h1 {
  font-family: ralewaybold;
  font-size: 72px;
  line-height: 48px;
  font-weight: 100;
}
h2 {
  font-family: ralewayregular;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
h3 {
  font-family: ralewaythin;
  font-size: 28px;
  line-height: 28px;
  font-weight: 400;
}
h4 {
  font-family: open_sanslight;
  font-size: 28px;
  line-height: 28px;
  font-weight: 100;
}
h5 {
  font-family: open_sansbold;
  font-size: 20px;
  line-height: 20px;
  font-weight: 100;
}
p,
li {
  font-family: open_sanslight;
  font-size: 18px;
  line-height: 22px;
  font-weight: 100;
}
a {
  font-family: ralewaythin;
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: none;
  color: #fffffa;
}
.main-header {
  font-size: 114px;
  line-height: 114px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.sub-header {
  margin-top: 5px;
}
.super-header {
  margin-top: 0px;
  margin-bottom: 5px;
}
.section-header {
  margin-top: 0px;
}
/* --- Containers --- */
* {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  background: #fffffa;
}
.landing {
  width: 100%;
  height: 100%;
  background: url('../img/background.jpg') no-repeat center center;
  background-size: cover;
}
.landing .landing-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  color: #fffffa;
}
.landing h1,
.landing h2,
.landing h4,
.landing h5,
.landing h6 {
  text-align: center;
  white-space: nowrap;
}
.landing h3 {
  padding: 5px;
  text-align: right;
}
.about-picture {
  width: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  margin: auto;
}
.icon {
  width: 12%;
  box-sizing: border-box;
  margin: auto;
}
.section {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 4rem;
  color: #fffffa;
  background: #5b605f;
  font-weight: 400;
}
.section .section-content {
  width: 100%;
  box-sizing: border-box;
  max-width: 1000px;
  margin: 1rem auto;
  padding: 0rem 1rem;
}
.section h1,
.section h2,
.section h3,
.section h4,
.section h6 {
  margin-bottom: 2rem;
}
.section ul {
  margin: 16px 0px;
  padding-left: 40px;
}
.section.grey {
  background: #464646;
}
.section.footer {
  padding-bottom: 1rem;
}
.section::after,
.col::after {
  content: "";
  display: block;
  clear: both;
}
.col {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0px 15px;
  box-sizing: border-box;
}
.col.w-6 {
  width: 50%;
}
.col.w-3 {
  width: 25%;
}
.col.w-9 {
  width: 75%;
}
.col.w-12 {
  width: 100%;
}
.col.centered {
  text-align: center;
}
.card {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 5px;
  background: #5b605f;
  text-align: center;
  font-weight: 600;
  font-family: open_sansregular;
  min-height: 100%;
}
.card h4 {
  margin-bottom: 2rem;
  color: #fffffa;
}
.card p {
  color: #fffffa;
}
.card.padded {
  padding: 4rem;
}
.contact-link {
  font-weight: 400;
  font-family: open_sansregular;
  color: #db6c0f;
  text-decoration: none;
  font-size: 1.5rem;
}
.icon-link {
  padding-right: 0.5rem;
}
.padded-section {
  padding: 1rem;
  margin: 0rem 1rem;
}
.centered-section {
  text-align: center;
}
.copy {
  padding: 1rem 0rem;
}
.nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background: #ff6600;
  z-index: 2;
}
.nav-left {
  display: inline-block;
  text-align: left;
}
.nav-right {
  display: inline-block;
  text-align: right;
  float: right;
}
.nav-center {
  text-align: center;
}
.nav-item,
.nav-menu {
  display: inline-block;
  font-family: open_sansregular;
  color: #FFFFFF;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 4rem;
  line-height: 4rem;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
}
.nav-item.selected,
.nav-menu.selected,
.nav-item:hover,
.nav-menu:hover {
  background: rgba(0, 0, 0, 0.1);
}
.nav-mobile {
  display: none;
}
.nav-mobile .nav-item,
.nav-mobile .nav-menu {
  width: 100%;
  box-sizing: border-box;
}
/* --- Navbar --- */
.nav-bar {
  height: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
  text-align: center;
}
.nav-bar nav {
  padding: 0px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.25);
}
.nav-bar nav a {
  padding: 14px 20px;
  display: inline-block;
}
.nav-bar nav a:hover {
  background: rgba(0, 0, 0, 0.15);
}
.nav-bar nav a:visited {
  text-decoration: none;
  color: #374140;
}
.nav-bar nav a.active {
  background: rgba(0, 0, 0, 0.15);
  color: #fffffa;
  font-weight: 600;
}
.nav-bar nav a.external {
  color: #fffffa;
}
.nav-arrows {
  height: 50px;
  line-height: 50px;
  color: blue;
  padding: 15px;
  z-index: 10;
}
.nav-arrows.left {
  left: 0;
}
.nav-arrows.right {
  right: 0;
}
/* --- SWIPER CONTENT --- */
.content-wrapper {
  max-width: 960px;
  padding: 15px 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
  z-index: 11;
}
.content-wrapper p {
  text-align: left;
}
/* --- SWIPER SETTINGS --- */
.swiper-pagination {
  position: static;
  text-align: left;
  margin: 10px 0px;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin: 0px 2px;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .nav-mobile {
    display: block;
  }
  .nav-item {
    display: none;
  }
  .nav-desktop {
    display: none;
  }
  .landing-box {
    text-align: center;
  }
  .landing h1 {
    font-size: 2rem;
  }
  .col.w-3,
  .col.w-6,
  .col.w-9 {
    width: 100%;
  }
  .padded-section {
    margin: 0px;
  }
  .card.padded {
    padding: 4rem 0rem;
  }
}
