/* stylesheet.css */
@charset "UTF-8";
@import url("_fonts.css");



/* --- VARIABLES --- */

	/* --- // Paths --- */ 
	@img: "../img";
	
	/* --- // Colors --- */
 
	@AlmostWhite: #FCFFF5;
	@LightGrey: #b3b3b3;
	@TealGrey: #91AA9D;
	@MainBlue: #3E606F;
	@DarkBlue: #193441;

	/* --- // Mixins --- */

	.vert-center {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}


/* --- FONTS --- */

h1 {
	font-family: ralewaythin;
	font-size: 48px;
	line-height: 48px;
	font-weight: 100;
}

h2 {
	font-family: open_sansregular;
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;
}

h3 {
	font-family: ralewayregular;
	font-size: 28px;
	line-height: 28px;
	font-weight: 400;
}

h4 {
	font-family: open_sanslight;
	font-size: 28px;
	line-height: 28px;
	font-weight: 100;
}

h5 {
	font-family: open_sansbold;
	font-size: 24px;
	line-height: 24px;
	font-weight: 100;
}

p {
	font-family: open_sanslight;
	font-size: 18px;
	line-height: 22px;
	font-weight: 100;
}

a {
	font-family: ralewaythin;
	font-size: 22px;
	line-height: 22px;
	font-weight: 400;
	text-decoration: none;
	color: @LightGrey;
}



.main-header {
	font-size: 114px;
	line-height: 114px;
	margin-top: 5px;
	margin-bottom: 0px;
}

.sub-header {
	margin-top: 5px;
}

.super-header {
	margin-top: 0px;
	margin-bottom: 5px;
}

.section-header {
	margin-top: 0px;
}

/* --- Containers --- */

* {
	margin: 0;
	padding: 0;
}

body, html {
	width: 100%;
	height: 100%;
}


.landing {
	width: 100%;
	height: 100%;
	background: url('@{img}/SPF_Kitchen_S_Shot01_POV_v001.0030.png') no-repeat center center;
	background-size: cover;

	.landing-box {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		text-align: center;
	}

	h1, h2, h3, h4, h5, h6 {
		text-align: center;
		white-space: nowrap;
	}
}

.section {
	width: 100%;
	padding-top: 2rem;
	padding-bottom: 4rem;
	color: #444444;
	font-weight: 400;

	.section-content {
		width: 100%;
		box-sizing: border-box;;
		max-width: 1000px;
		margin: auto;
	}

	h1, h2, h3, h4, h5, h6 {
		text-align: center;
	}
}

.nav {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 3rem;
		background: red;
		text-align: center;
		z-index: 1;
	}

	.nav-item, .nav-menu {
		display: inline-block;
		font-family: Open Sans;
		color: #FFFFFF;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		height: 3rem;
		line-height: 3rem;
		font-size: 0.9rem;
		font-weight: 300;
		cursor: pointer;
		text-decoration: none;

		&.selected, &:hover {
			background: rgba(0,0,0,0.1);
		}
	}

.nav-mobile {
	display: none;

	.nav-item, .nav-menu {
		width: 100%;
		box-sizing: border-box;
	}
}


#landing-section {
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;

	background: url('@{img}/SPF_Kitchen_S_Shot01_POV_v001.0030.png') no-repeat center center;
	background-size: cover;
}

#about {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;

	height: 100%;
	width: 100%;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	padding: 15px;
}

/* --- Navbar --- */

.nav-bar {
	height: 50px;
	width: 100%;
	background: rgba(0,0,0,0.65);
	text-align: center;
	
	nav {
		padding: 0px;
		display: inline-block;
		background: rgba(0,0,0,0.25);

		a {
			padding: 14px 20px;
			display: inline-block;

			&:hover {
				background: rgba(0,0,0,0.15);
			}
			&:visited {
				text-decoration: none;
				color: @LightGrey;
			}
			&.active {
				background: rgba(0,0,0,0.15);
				color: @AlmostWhite;
				font-weight: 600;
			}
			&.external {
				color: @AlmostWhite;
			}
		}
	}	
}

.nav-arrows {
	height: 50px;
	line-height: 50px;
	position: absolute !important;

	padding: 15px;
	z-index: 10;

	.vert-center();

	&.left {
		left: 0;
	}
	&.right {
		right: 0;
	}
}
 
/* --- Jumbotron --- */

.jumbotron {
	width: 100%;
	text-align: center;
	display: inline-block;
	color: @AlmostWhite;
	background: rgba(0,0,0,0.5);
}

#landing-section .jumbotron {
	position: absolute;
}

/* --- SWIPER CONTENT --- */

.content-wrapper {
	max-width: 960px;
	padding: 15px 25px;

	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	position: relative;
	margin: 0 auto;

	background: rgba(0,0,0,0.80);

	z-index: 11;

	p {
		text-align: left;
	}
}

/* --- SWIPER SETTINGS --- */

.swiper-container,
.main-swiper .swiper-slide {
	width: 100%;
	height: 100%;
}

.swiper-container.work-swiper {
	max-height: 500px;
	max-width: 960px;
}

.work-swiper .swiper-slide {
	width: 100%;
	height: 500px;
}

.pagination {
	position: absolute;
	z-index: 20;
	left: 20%;
	top: 25%;

	.swiper-pagination-switch {
		display: block;
		width: 15px;
		height: 15px;
		border-radius: 15px;
		background: rgba(0,0,0,0.5);
		margin: 0 0px 10px;
		border: 1px solid #fff;
		cursor: pointer;
	}

	.swiper-active-switch {
		background: @AlmostWhite;
	}

		
}

@media (max-width: 768px) {

	.vert-center {
		position: relative;
		top: 0;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}

	.main-header {
		font-size: 76px;
		line-height: 76px;
		margin-top: 5px;
		margin-bottom: 0px;
	}

	.sub-header,
	.super-header {
		font-size: 18px;
		line-height: 18px;
	}

	.nav-mobile {
		display:block;
	}

	.nav-item {
		display:none;
	}

	.nav-desktop {
		display:none;
	}

	.landing-box {
		text-align: center;
	}

	.landing h1{
		font-size: 2rem;
	}
}
